<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="popular bottom">
                        <h2>Popular Idea Blurb</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Most Popular Idea from many depending on the popularity result from sentimental gem.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                         </div>
                         <h2>Most Liked Idea Blurb</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Most Liked idea blurb post with highest like number from many .</blockquote>
                                <h3><a href="#">- Abraham Josef</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-info bottom">
                        <h2>Contact</h2>
                        <address>
                        E-mail: <a href="mailto:varma@ideablurbs.com">varma@ideablurbs.com</a> <br>
                        Phone: +1 (510) 240 9970 <br>
                        </address>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; IdeaBlurbs 2016. All Rights Reserved.</p>
                        <p>Created by <a target="_blank" href="http://www.codevarma.com/about">Varma</a> &amp; <a target="_blank" href="#">Naga</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>